@charset "UTF-8";

/* CSS Document */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 确保滚动条样式生效的关键设置 */
html,
body {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #263162 #f1f1f1;
  /* Firefox */
  -webkit-overflow-scrolling: touch;
  /* iOS 滚动效果 */
  overflow-y: auto;
  /* 确保有滚动条 */
  font-family: "PingFang SC";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



.tips img {
  width: 420px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 33px;
}

.tags {
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  color: var(--light-general-on-surface-low, var(--Gray-Modern-600, #485264));
  display: flex;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.5px;
  border-radius: 4px;
  border: 1px solid var(--Gray-Modern-200, #E8EBF0);
  background: var(--White, #FFF);
}

.hero-video img {
  position: relative;
  right: -80px;
  padding-top: 10%;
  width: 90%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo .logo-link {
  margin-right: 80px;
}

.navbar-logo img {
  max-width: 100%;
  height: auto;
}

.card {
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card:hover {
  transform: translateY(-10px) rotateX(5deg) rotateY(5deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.navbar-links {
  display: flex;
  gap: 30px;
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  text-align: center;
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-style: normal;
  letter-spacing: 0.009375em;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #219BF4;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 22px;
}

.github-stars {
  display: flex;
  align-items: center;
  gap: 0.3125vw;
  font-size: clamp(0.875rem, 2vw, 1rem);
}

.github-stars i {
  font-size: 18px;
}

.github-stars span {
  font-size: 16px;
  margin-left: 2px;
}

.login-button {
  text-decoration: none;
  color: #fff;
  padding: 12px 26px;
  border-radius: 0.3125em;
  font-size: 14px;
  background: var(--Bright-Blue-500, #219BF4);
  box-shadow: 0px 0.289125em 1.15650em 0px rgba(58, 149, 255, 0.28);
}

.login-button:hover,
.btn-primary:hover,
.cta-button:hover,
.vid6zhann:hover {
  background: var(--Bright-Blue-600, #0884DD);
  box-shadow: 0px 4.626px 18.504px 0px rgba(58, 149, 255, 0.28);
}

.btn-secondary:hover,
.feature h3:hover {
  color: var(--light-sealos-secondary-text, var(--Bright-Blue-600, #0884DD));
}

.video-container {
  position: relative;
  width: 660px;
  max-width: 100%;
  background-image: url('https://example.com/your-background-image.jpg');
  background-size: cover;
  background-position: center;
}

video {
  width: 100%;
}

.videos {
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
}

.videos img {
  margin-right: 10px;
}



.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  letter-spacing: 2px;
}

#progressBar {
  flex-grow: 1;
  margin: 0 10px;
}

#currentTime,
#duration {
  color: white;
  font-size: 14px;
}

#fullscreenButton {
  margin-left: 10px;
}

.video-container2 {
  border-radius: 12px;
  border: 7.093px solid var(--Black, #000);
  background: url(<path-to-image>) lightgray -19.162px 0px / 108.378% 100% no-repeat;
  box-shadow: 0px 28.373px 56.746px -10.64px rgba(19, 51, 107, 0.20), 0px 0px 0.887px 0px rgba(19, 51, 107, 0.20);
}

.tab-section-tions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 0 10%;
}

.nav {
  width: 100%;
  background: url('../navbg.svg') no-repeat center center;
  background-size: 100% 100%;
  position: relative;
}

.tab-button {
  padding: 16px 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  background-size: 18px;
  background-position: 14% 50%;
  background-repeat: no-repeat;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.01em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #667085;
}

.tab-buttons .active {
  border-radius: 8px;
  background-color: #E4F1FF;
  color: #111824;
}

.tab-section {
  display: flex;
  margin-top: 40px;
  gap: 24px;
  margin-bottom: 100px;
  justify-content: flex-end;
  width: 100%;

}

.demo-a {
  display: flex;
  align-items: center;
}

.demo-a img {
  margin-right: 10px;
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tab-button:active {
  transform: scale(0.98);
}

.tab-content {
  flex-grow: 1;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-h3 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 80px;
}

.tabico1 {
  background-image: url('../tabico1-ac.png');
}

.tabico2 {
  background-image: url('../tabico2-ac.png');
}

.tabico3 {
  background-image: url('../tabico3-ac.png');
}

.tabico4 {
  background-image: url('../tabico4-ac.png');
}

.cloud-module h3 img {
  width: 16px;
}

.cloud-module {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  height: 115px;
}

.cloud-module1 {
  display: flex;
  padding: 44px 32px 20px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  background: linear-gradient(180deg, #D9EBFF 0%, rgba(255, 255, 255, 0.50) 100%);
}

.cloud-module h2 {
  color: #1890ff;
  margin-top: 0;
}

.cloud-module p {
  color: #666;
}

.hero-video {
  padding-right: 10%;
}

.sub-module {
  margin-top: 10px;
}

.sub-module h3 {
  color: #333;
  margin-bottom: 10px;
}

.column {
  border-radius: 16px;
  background: var(--White, #FFF);
  box-shadow: 0px 12px 64px -12px rgba(19, 51, 107, 0.08), 0px 0px 1px 0px rgba(19, 51, 107, 0.20);
  width: 31.8%;
  padding-bottom: 10px;
}

.cloud-module1 h2 {
  color: #0080DD;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.cloud-module1 p {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.25px;
}

.cloud-module h3 {
  color: #273E4F;
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 21px */
  display: flex;
  align-items: center;
}

.cloud-module h3 img {
  margin-right: 8px;
}

.cloud-module p {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  /* body/small */
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.048px;
}

.cloud-module2 {
  display: flex;
  padding: 44px 32px 20px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  background: linear-gradient(180deg, #D7F1FF 0%, rgba(255, 255, 255, 0.50) 100%);
}

.cloud-module2 h2 {
  color: #008EC7;

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}

.cloud-module2 p {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.25px;
}

.cloud-module3 {
  display: flex;
  padding: 44px 32px 20px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  background: linear-gradient(180deg, #E5E6FF 0%, rgba(255, 255, 255, 0.50) 100%);
}

.cloud-module3 h2 {
  color: #7F4EC8;

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}

.cloud-module3 p {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  /* body/medium */
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.25px;
}

.column-kj {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 32px 40px 32px;
  gap: 24px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 22px 28px;
  width: 100%;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 3.742px 60px 0px rgba(182, 202, 224, 0.28);
  text-align: left;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card-icon {
  border-radius: 6.119px;
  background: #EAFCFF;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.card-title .card-icon2 {
  background: #DDF5FF;
}

.card-title .card-icon3 {
  background: #EAF1FF;
}

.card-title .card-icon4 {
  background: #EAF0FF;
}

.card ul {
  list-style-type: none;
  padding: 0;
  border-top: solid 1px #E8EBF0;
  padding-top: 20px;
}

.card li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  color: var(--light-general-on-surface-low, var(--Gray-Modern-600, #485264));
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-size: 14px;
  justify-content: flex-start;
}

.card ul li img {
  margin-right: 6px;
}

.btn-primary svg {
  margin-left: 10px;
}

.cta-button {
  color: white;
  border: none;
  padding: 14px 40px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 64px;
  letter-spacing: 0.15px;
  background: var(--Bright-Blue-500, #219BF4);
  box-shadow: 0px 4.063px 16.251px 0px rgba(58, 149, 255, 0.28);
  width: 160px;
  margin-bottom: 64px;
}

.testimonial {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  text-align: right;
  padding-bottom: 8px;
  /* label/large */
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.1px;
}

.specification h2 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  letter-spacing: 0.4px;
  padding-top: 124px;
}

.contai h2 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-align: center;
  padding: 110px 0px 72px 0px
}

.fooddos {
  background-image: url('../fooddosbg.svg');
  background-size: 100% 100%;
  margin-bottom: 160px;
  padding: 0 10%;
}

.cons {
  margin-top: 60px;
  background-image: url('../bgEllipse114.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.caricon1 {
  background-image: url('../Frame.svg');
  background-repeat: no-repeat;
  background-position: 90% 7%;
  background-size: 100px;
}

.caricon2 {
  background-image: url('../Frame-2.svg');
  background-repeat: no-repeat;
  background-position: 90% 9%;
  background-size: 90px;
}

.caricon3 {
  background-image: url('../Frame-3.svg');
  background-repeat: no-repeat;
  background-position: 90% 7%;
  background-size: 180px;
}

.caricon4 {
  background-image: url('../Frame-4.svg');
  background-repeat: no-repeat;
  background-position: 90% 7%;
  background-size: 100px;
}

.code-ys {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 10%;
}

.testimonial-container p {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  text-align: right;
  /* label/large */
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.1px;
}

.testimonial-container {
  margin-top: 40px;
  padding: 0 10%;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;

}

.container3 h2 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  letter-spacing: 0.4px;
  margin-bottom: 24px;
}

.container3 p {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  margin-bottom: 50px;
  /* title/small */
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  /* 144.444% */
  letter-spacing: 0.15px;
}

.charge h1 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  letter-spacing: 0.4px;
  margin-bottom: 72px;
}

.charge {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 180px;
}

.specification h1 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  letter-spacing: 0.4px;
  margin-bottom: 72px;
  background: linear-gradient(180deg, rgba(240, 247, 255, 0.60) 0%, rgba(240, 247, 255, 1.00) 44%, rgba(240, 247, 255, 0.00) 100%);
}

.specification {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ddos ul li {
  border-radius: 12px;
  border: 1px solid var(--glass-outline, #E8EFFB);
  background: var(--White, #FFF);
  display: flex;
  padding: 10px 0px;
  flex-direction: row;
  align-items: center;
  height: 60px;
  flex: 1 0 0;
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.15px;
  justify-content: center;
  width: 208px;
}

.ddos ul li img {
  margin-right: 12px;
}

.hzkh {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hzkh h2 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  letter-spacing: 0.4px;
  margin-top: 160px;
  margin-bottom: 80px;
}

.ddos ul {
  gap: 50px;
  list-style: none;
  display: flex;
}

.ddos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 70px;
  width: 100%;
}

.cloud-services {
  display: flex;
  gap: 32px;
}

.cloud-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.cloud-title {
  color: #00223B;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.cloud-price {
  background-color: #37a1ff;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.cloud-features {
  margin-bottom: 20px;
}

.cloud-feature {
  color: #51617D;
  margin-bottom: 16px;
  /* title/smallest */
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.15px;
}

.cloud-feature::before {
  content: "✓";
  color: #37a1ff;
  margin-right: 10px;
}

.cloud-cta {
  border: none;
  cursor: pointer;
  color: var(--Neutrals-White, var(--White, #FFF));
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.private-cloud .cloud-cta {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  text-align: center;
  /* title/smallest */
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.15px;
}

.cloud-tag {
  margin-left: 10px;
  border-radius: 38px;
  border: 1px solid #C9CEFF;
  background: linear-gradient(90deg, #E2E2FF 0%, #EEF 100%);
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 5.842px;
  color: #6272C5;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-left: 16px;
}

.public-cloud {
  position: relative;
  overflow: hidden;
  width: 560px;
  border-radius: 16px;
  border: 1px solid var(--Bright-Blue-300, #85CCFF);
  background: #F7FBFF;
  box-shadow: 0px 4.626px 24px -4px rgba(58, 149, 255, 0.30);
}

.cloud_coro {
  padding: 100px 56px 56px 56px;
}

.private-cloud {
  position: relative;
  overflow: hidden;
  width: 560px;
  border-radius: 16px;
  border: 1px solid #DBC9FF;
  background: #F9F9FF;
  box-shadow: 0px 4.626px 24px -4px rgba(127, 133, 255, 0.30);
}

.public-cloud::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: repeating-linear-gradient(45deg, #e6f7ff, #e6f7ff 10px, #ffffff 10px, #ffffff 20px);
  z-index: -1;
}

.cloud-cta-container {
  border-radius: 8px;
  background: var(--Bright-Blue-500, #219BF4);
  box-shadow: 0px 4.063px 16.251px 0px rgba(58, 149, 255, 0.28);
  width: 100%;
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 4.311px;
  margin-top: 50px;
}

.cloud-features .cloud-feature-private {
  color: #676992;
}

.cloud-cta-container2 {
  width: 100%;
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 4.311px;
  margin-top: 50px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Modern-200, #E8EBF0);
  background: var(--White, #FFF);
  /* 2 */
  box-shadow: 0px 0px 0.809px 0px rgba(0, 0, 0, 0.05), 0px 3.742px 14.969px 0px rgba(182, 202, 224, 0.28);
}

.cloud_left {
  background-image: url('../Group20793.svg');
  background-size: 200px;
  background-position: 340px 40px;
  background-repeat: no-repeat;
}

.cloud_right {
  background-image: url('../Group20794.svg');
  background-size: 200px;
  background-position: 340px 40px;
  background-repeat: no-repeat;
}

.h5footerlogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h5footerlogo img {
  height: 34px;
}

.h5footerlm {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-between;
}

.h5footerlogo p {
  color: var(--light-general-on-surface-low, var(--Gray-Modern-600, #485264));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  padding-top: 14px
}

.h5footkj {
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;
}

.h5footerlm ul li p {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
  text-transform: uppercase;
  padding-bottom: 24px;
}

.h5footerlm ul li {
  color: var(--light-general-on-surface-low, var(--Gray-Modern-600, #485264));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  padding-bottom: 14px;
}

.h5footerlm ul li a {
  color: var(--light-general-on-surface-low, var(--Gray-Modern-600, #485264));
}

.h5footer {
  padding-top: 72px;
  border-top: 1px solid #E6EDF9;
  background: linear-gradient(186deg, #FFF 4.82%, #F9FBFF 94.9%);
  margin-top: 100px;
}

.h5footerdb {
  display: flex;
  padding: 16px 0px 24px 0px;
  border-top: 1px solid #E6EDF9;
  justify-content: space-between;
}

.h5footerdbright {
  display: flex;
}

.h5footerico {
  margin-left: 24px;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #f4f4f7;
}

.h5footerdbleft {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.vids8fream2 {
  padding: 72px 100px 48px 100px;
  border-radius: 20px;
  background: #E9F4FF;
}

.vids8fream h2 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  letter-spacing: 0.4px;
  padding-bottom: 72px;
}

.vids7_qy1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vids8fream2 p {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 144.444% */
  letter-spacing: 0.15px;
}

.vids8fream .vids8fream2 span {
  color: var(--light-sealos-secondary, var(--Bright-Blue-500, #219BF4));
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.15px;
  padding-right: 12px;
}

.vids7_rq2 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vids7_rq2 ul li {
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
}

.vids7_ico {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-right: 24px;
}

.vids7ico-0 {
  background-color: #BCE7FF;
  /* 设置背景颜色 */
  border-radius: 50%;
  /* 设置边框半径为50%，‌使正方形变成圆形 */
  width: 10px;
  height: 10px;
}

.vids7ico-1 {
  background-color: #BCE7FF;
  /* 设置背景颜色 */
  width: 1.7px;
  margin: 8px 0px;
  height: 20px;
}

.vid7zh {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.vid6zhann {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4.311px;
  flex-shrink: 0;
  border-radius: 7.026px;
  background: var(--Bright-Blue-500, #219BF4);
  box-shadow: 0px 4.063px 16.251px 0px rgba(58, 149, 255, 0.28);
  width: 160px;
  height: 48px;
}

.vid6zhann a {
  color: var(--Neutrals-White, var(--White, #FFF));
  text-align: center;
  font-size: 17.565px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.834px;
  letter-spacing: 0.132px;
}

.vids8fream {
  margin-bottom: 80px;
}

.hzkh {
  padding-bottom: 120px;
}

.footer-h5 {
  display: flex;
  align-items: center;
}

.footer-h5 h2 {
  font-weight: bold;
  font-size: 18px;
  margin-left: 8px;
}

.vids7-left {
  padding-left: 100px;
}

.vids7 {
  border-radius: 20px;
  background-image: url('../vids7bg.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin: 0 10%;
}

.vids7-left h3 {
  color: #00223B;

  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 45px */

}

.vids7-left p {

  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 45px */
  background: linear-gradient(90deg, #7C96FE 0%, #4399F4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-footer1 {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 36px;
}

.login-footer {
  border-radius: 7.026px;
  background: var(--Bright-Blue-500, #219BF4);
  display: flex;
  padding: 11px 40px;
  color: var(--Neutrals-White, var(--White, #FFF));
  text-align: center;
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.834px;
  letter-spacing: 0.132px;
  box-shadow: 0px 0px 0.809px 0px rgba(0, 0, 0, 0.05), 0px 3.742px 14.969px 0px rgba(182, 202, 224, 0.28);
  align-items: center;
}

.login-footer2 {
  border-radius: 7.026px;
  background: var(--White, #FFF);
  display: flex;
  padding: 11px 40px;
  justify-content: center;
  align-items: center;
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  text-align: center;
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.834px;
  letter-spacing: 0.132px;
  box-shadow: 0px 0px 0.809px 0px rgba(0, 0, 0, 0.05), 0px 3.742px 14.969px 0px rgba(182, 202, 224, 0.28);
}

.hero-content h1 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  text-align: center;
  font-size: 78px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 26px;
}

.hero-content h1 p {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: clamp(1.5rem, 3vw, 2.625rem);
  font-style: normal;
  font-weight: 700;
  padding-left: 0.475em;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10% 0px 10%;
}

.hero-content {
  max-width: 50%;
  margin-left: 70px;

}

.navbar-scrolled2 {
  position: fixed;
  box-shadow: 0px 12px 64px -12px rgba(19, 51, 107, 0.08), 0px 0px 1px 0px rgba(19, 51, 107, 0.20);
  background: #ffffff;
  padding: 16px 0px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
  /* 悬停时显示下拉菜单 */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.tips {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: clamp(1rem, 2vw, 1.375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0275em;
}

.hero-stats {
  display: flex;
  gap: 2vw;
  margin: 64px 0px 35px 0px;
  align-items: center;
  padding-left: 5px;

}

.stat {
  text-align: left;
}

.stat span {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.hero-buttons {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.btn-primary,
.btn-secondary {
  padding: 14px 40px;
  border-radius: 0.4em;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero-video video {
  width: 650px;
  border-radius: 10px;
  border: solid 8px #333333;
}

a {
  text-decoration: none;
}

.navbar-links a {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.btn-primary {
  background-color: #219BF4;
  color: var(--Neutrals-White, var(--White, #FFF));
  text-align: center;
  font-style: normal;

  box-shadow: 0px 0.289125em 1.15650em 0px rgba(58, 149, 255, 0.28);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-secondary {
  background-color: #fff;
  border: 1px solid #E6EDF9;
  color: #111824;
  text-align: center;
  font-style: normal;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0.050563em 0px rgba(0, 0, 0, 0.05), 0px 0.233875em 0.935625em 0px rgba(182, 202, 224, 0.28);
}

.hero-video iframe {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.hero-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stat p {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  font-size: 16px;
  font-style: normal;
  margin-top: 0.3125em;
  line-height: 140%;
}

.features-section {
  justify-content: space-between;
  display: flex;
  flex: 1 0 0;
  gap: 64px;
  align-items: center;
  position: relative;
  padding: 0px 10%;
}

.feature img {
  width: 32px;
  height: 32px;
}

.feature {
  border-radius: 6px;
  border: 1px solid #E6EDF9;
  display: flex;
  padding: 20px 0px 20px 84px;
  gap: 4px;
  flex: 1 0 0;
  flex-direction: column;
}

.iconh1 {
  background-image: url('../rocket.svg');
  background-size: 64px;
  background-position: 20px 20px;
  background-repeat: no-repeat;
}

.iconh2 {
  background-image: url('../rmb.svg');
  background-size: 64px;
  background-position: 20px 20px;
  background-repeat: no-repeat;
}

.iconh3 {
  background-image: url('../app_store.svg');
  background-size: 64px;
  background-position: 20px 20px;
  background-repeat: no-repeat;
}

.feature h3 {
  color: var(--light-general-on-surface, var(--Gray-Modern-900, #111824));
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30.292px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
  letter-spacing: 1px;
}

.feature p {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.933px;
  letter-spacing: 0.5px;
}

.feature span {
  color: var(--light-general-on-surface-lowest, var(--Gray-Modern-500, #667085));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.933px;
  padding-left: 10px;
}

.stat-divider {
  width: 1px;
  height: 24px;
  background-color: #E0E0E0;
}

@media screen and (max-width: 1600px) {

  /* 针对桌面显示器的样式 */
  .btn-primary,
  .btn-secondary {
    padding: 0px;
    width: 140px;
    height: 44px;
    font-size: 16px;
  }

  .hero-buttons {
    gap: 20px;
  }

  .hero-content h1 p {
    font-size: 28px;
  }

  .videos img {
    margin-right: 6px;
    width: 20px;
  }

  .videos {
    font-size: 15px;
  }

  .hero-content h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .hero-stats {
    margin: 40px 0px 30px 0px;
  }

  .hero-video img {
    width: 70%;
    right: -120px;
  }

  .hero-video {
    padding-right: 0px;
  }

  .features-section {
    padding: 0px 10%;
  }

  .feature {
    gap: 0px;
    background-position: 10px 14px;
    padding: 12px 0px 12px 66px;
    background-size: 54px;
  }

  .feature h3 {
    font-size: 16px;
  }

  .feature p {
    font-size: 14px;
  }

  .tab-h3 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .cloud-module1 p {
    font-size: 14px;
  }

  .cloud-module2 p {
    font-size: 14px;
  }

  .cloud-module3 p {
    font-size: 14px;
  }

  .hero-content {
    margin-left: 40px;
  }

  .stat span {
    font-size: 22px;
  }

  .tab-section-tions {
    margin-top: 40px;
  }

  .tab-button {
    font-size: 14px;
    padding: 16px 8px 16px 40px;
  }

  .cloud-module1 {
    padding: 36px 24px 10px 24px;
  }

  .cloud-module2 {
    padding: 36px 24px 10px 24px;
  }

  .cloud-module3 {
    padding: 36px 24px 10px 24px;
  }

  .cloud-module1 h2 {
    font-size: 22px;
  }

  .cloud-module2 h2 {
    font-size: 22px;

  }

  .cloud-module2 h2 {
    font-size: 22px;
  }

  .column-kj {
    padding: 20px 22px;
  }

  .cloud-module h3 {
    font-size: 16px;
  }

  .cloud-module p {
    font-size: 14px;
    line-height: 160%;
  }

  .tag {
    font-size: 12px;
    padding: 8px 14px;
  }

}

@media screen and (max-width: 1440px) {

  /* 针对小型笔记本的样式 */
  .stat span {
    font-size: 20px;
  }

  .stat p {
    font-size: 14px;
  }

  .tags {
    gap: 10px;
  }

  .tag {
    padding: 8px 12px;
  }

  .card {
    padding: 22px 22px;
  }

  .Feature {
    padding: 0 10%;
  }

  .cloud-module {
    gap: 10px;
  }

  .tag {
    padding: 6px 12px;
    font-size: 11px;
  }

  .column-kj {
    gap: 16px;
  }

  .tab-section {
    margin-bottom: 60px;
  }

  .tab-h3 {
    font-size: 30px;
  }

  .contai h2 {
    font-size: 30px;
    padding: 110px 0px 62px 0px;
  }

  .card-title {
    font-size: 18px;
  }
}


@media screen and (max-width: 1344px) {

  /* 针对小型笔记本的样式 */
  .hero-content h1 {
    font-size: 40px;
    margin-bottom: 6px;
  }

  .tips img {
    width: 340px;
  }

  .hero-stats {
    margin: 30px 0px 26px 0px;
  }

  .btn-primary,
  .btn-secondary {
    padding: 0px;
    width: 120px;
    height: 40px;
    font-size: 14px;
  }

  .features-section {
    gap: 24px;
  }

  .feature p {
    font-size: 12px;
  }

  .feature h3 {
    font-size: 14px;
  }

  .features-section {
    gap: 18px;
  }


  .nav-links li a {
    font-size: 15px;
  }

  .stat span {
    font-size: 18px;
  }

  .videos {
    font-size: 12px;
  }

  .videos img {
    margin-right: 5px;
    width: 16px;
  }

  .cloud-module1 h2 {
    font-size: 20px;
  }

  .cloud-module2 h2 {
    font-size: 20px;
  }

  .cloud-module3 h2 {
    font-size: 20px;
  }

  .tab-h3 {
    padding-top: 40px;
  }

  .cloud-module1 p {
    font-size: 12px;
  }

  .cloud-module2 p {
    font-size: 12px;
  }

  .cloud-module3 p {
    font-size: 12px;
  }

  .cloud-module1 {
    gap: 4px;
  }

  .cloud-module2 {
    gap: 4px;
  }

  .cloud-module3 {
    gap: 4px;
  }

  .column-kj {
    padding: 10px 22px 20px 22px;
  }

  .cloud-module p {
    font-size: 12px;
    line-height: 140%;
  }

  .tag {
    padding: 4px 10px;
    font-size: 11px;
  }

  .cloud-module {
    gap: 4px;
    height: auto;
  }

  .tags {
    display: none;
  }

  .cloud-module h3 {
    font-size: 14px;
  }

  .contai h2 {
    padding: 80px 0px 62px 0px;
  }

  .card-title {
    font-size: 16px;
  }

  .caricon1 {
    background-size: 60px;
  }

  .caricon2 {
    background-size: 60px;
  }

  .caricon3 {
    background-size: 60px;
  }

  .caricon4 {
    background-size: 60px;
  }

  .card-icon {
    padding: 8px;
  }

  .card li {
    font-size: 13px;
  }

  .cta-button {
    margin-top: 40px;
  }

  .testimonial {
    font-size: 12px;
  }

  .testimonial-container p {
    font-size: 12px;
  }

  .container3 h2 {
    font-size: 30px;
    margin-bottom: 14px;
  }

  .container3 p {
    font-size: 16px;
  }

  .specification h2 {
    padding-top: 60px;
    font-size: 30px;
  }

  .specification {
    margin-top: 110px;
  }

  .card ul li img {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

  /* 针对平板的样式 */
  .nav ul {
    display: none;
  }

  .navbar {
    margin: 0 6%;
  }

  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10% 0px 10%;
    flex-direction: row;
  }

  .hero-video img {
    padding: 0;
    width: 90%;
    margin-left: 30px;
    right: 0px;
  }

  .hero-video {
    padding-right: 0px;
    display: flex;
    justify-content: center;
  }

  .hero-content {
    margin-left: 0px;
  }

  .hero {
    margin-top: 20px;
  }

  .features-section {
    gap: 14px;
    margin-top: 30px;
  }

  .feature {
    gap: 0px;
    background-position: 10px 14px;
    padding: 12px;
    background-size: 0px;
    height: 94px;
  }

  .tab-section {
    display: flex;
    margin-top: 20px;
    gap: 24px;
    margin-bottom: 100px;
    justify-content: flex-end;
    width: 100%;
    flex-direction: column;
  }

  .tab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}
  .hero-content h1 {
    font-size: 30px;
    margin-bottom: 4px;
}
.hero-content h1 p {
  font-size: 20px;
}
.stat span {
  font-size: 16px;
}
.stat p {
  font-size: 12px;
}
.hero-stats {
  margin: 30px 0px 26px 0px;
}
.btn-primary, .btn-secondary {
  padding: 0px;
  width: 120px;
  height: 30px;
  font-size: 12px;
}
.hero-buttons {
  gap: 10px;
}
.tab-h3 {
  font-size: 26px;
}
.tab-h3 {
  padding-top: 10px;
  margin-bottom: 0px;
}
.tab-button {
  font-size: 14px;
  padding: 10px 8px 10px 40px;
}
.cloud-module1 {
  padding: 20px 16px 10px 16px;
}
.cloud-module2 {
  padding: 20px 16px 10px 16px;
}
.cloud-module3 {
  padding: 20px 16px 10px 16px;
}
.cons{
  margin-top: 0px;
}
.contai h2 {
  padding: 0px 0px 62px 0px;
  font-size: 26px;
}
.cloud-module1 p {
  font-size: 11px;
}
.cloud-module2 p {
  font-size: 11px;
}
.cloud-module3 p {
  font-size: 11px;
}
.cloud-module h3 {
  font-size: 13px;
}
.cloud-module p {
  font-size: 11px;
  line-height: 180%;
}
.card {
  width: 48%;
}
.consid{
  display: flex;
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;
}
.testimonial-container{
  margin-top: 0px;
}
.container3{
  margin-top: 80px;
}
.container3 h2 {
  font-size: 26px;
  margin-bottom: 6px;
}
.container3 p {
  font-size: 14px;
}
.specification {
  margin-top: 80px;
}
.specification h2 {
  font-size: 26px;
}
.ddos {
  margin-top: 40px;}

  .ddos ul li img {
    margin-right: 4px;
    width: 20px;
}
.ddos ul li {
  font-size: 12px;
  line-height: 140%;
  height: 50px;
}

.ddos ul {
  gap: 20px;

}
.fooddos{
  margin-bottom: 80px;
}
.vids7-left h3 {

  font-size: 20px;

}
.vids7-left p {
  font-size: 16px;}

  .login-footer1 {

    gap: 14px;
    margin-top: 16px;
}
.vids7-left {
  padding: 20px 40px;
  width: 100%;
}
.vids7-right{
  display: none;
}
.login-footer{
  font-size: 14px;
  padding: 6px 20px;
  font-weight: 400;

}
.login-footer2{
  font-size: 14px;
  padding: 6px 20px;
  font-weight: 400;

}
.vids7{
  background-size: 200% auto;
}
.h5footerlogo img {
  height: 26px;
}
.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 6px;
}

.h5footerlogo p {
  padding-top: 10px;
}
.h5footerlm ul li p {
  padding-bottom: 6px;
  font-size: 14px;
}
.h5footerlm ul li {
  padding-bottom: 8px;
  font-size: 12px;
}
.h5footer {
  padding-top: 32px;
  margin-top: 40px;
}
.tab-button{
  background-size: 12px;
  font-size: 12px;
  padding: 10px 8px 10px 30px;
}
}
@media screen and (max-width: 479px) {
  /* 针对小型手机的样式 */

.hero-video{
  display: none;
}
.hero-section {
  justify-content: center;
}
.hero-content{
  max-width: 100%;
}
.hero-content h1 {
  font-size: 60px;
  margin-bottom: 4px;
}
.hero-content h1 p {
  font-size: 30px;
}
.tips img {
  width: 280px;
}
.hero-stats {
  margin: 26px 0px 20px 0px;
  display: flex
;
  justify-content: center;
  gap: 30px;
}
.videos{
  display: none;
}
.hero-buttons {
  gap: 10px;
  display: flex;
  justify-content: center;
}
.feature p {
  display: none;
}
.feature{
  display: flex;
      justify-content: center;
      height: 0px;
      padding: 14px 0px;
}

.feature h3 {
  justify-content: center;
  font-size: 12px;
}
.features-section{
  display: none;
}
.tab-h3 {
  font-size: 20px;
  padding-top: 0px;
}
.tab-section-tions {
  margin-top: 60px;
}
.tab-buttons .active {
  font-size: 10px;
}
.tabico1{
  background-size: 0px;
}
.tabico2{
  background-size: 0px;
}
.tabico3{
  background-size: 0px;
}
.tabico4{
  background-size: 0px;
}
.tab-button {
  padding: 6px 8px 6px 8px;
  border-radius: 4px;
  font-size: 10px;
}
.tab-buttons .active {
  border-radius: 4px;
}
.column {
  width: 100%;
}
.container {
  flex-direction: column;
}
.column {
      display: flex;
      flex-direction: row;
      border-radius: 4px;
}
.cloud-module1 {
  border-radius: 4px;
}
.cloud-module h3 {
  font-size: 11px;
}
.cloud-module p {
  font-size: 10px;
  line-height: 160%;
}
.cloud-module h3 img {
  margin-right: 4px;
  width: 12px;
}
.column-kj {
  gap: 10px;
}

.column-kj {
  padding: 20px;
}
.cloud-module2 {
  border-radius: 4px;
}
.cloud-module3 {
  border-radius: 4px;
}
.tab-section{
  margin-bottom: 60px;
}
.contai h2 {
  font-size: 20px;
  padding: 0px 0px 24px 0px;
}
.card {
  width: 100%;
}
.card ul li img {
  display: block;
}
.caricon1 {
  background-size: 100px;
}
.card-icon img{
  width: 30px;
}
.testimonial {
  font-size: 10px;
  line-height: 160%;
}
.testimonial-container p {
  font-size: 10px;
}
.container3 h2 {
  font-size: 20px;
  margin-bottom: 0px;
}
.container3 {
  margin-top: 40px;
}
.container3 p {
  font-size: 12px;
  margin-bottom: 20px;
}
.specification {
  margin-top: 60px;
}
.specification h2 {
  font-size: 20px;
  padding-top: 40px;
}
.ddos ul {
  gap: 10px;
}
.ddos ul li {
  font-size: 8px;
  line-height: 140%;
  height: 30px;
  border-radius: 6px;
}
.ddos ul li img {
  margin-right: 4px;
  width: 16px;
}
.ddos {
  margin-top: 20px;
}
.vids7-left h3 {
  font-size: 16px;
}
.vids7-left p {
  font-size: 12px;
}
.login-footer {
  font-size: 10px;
  padding: 4px 18px;
}
.login-footer2{
  font-size: 10px;
  padding: 4px 18px;
  border-radius: 4px;
}
.vids7{
  border-radius: 6px;
}
.footer-title {
  font-size: 16px;
}

.h5footerlogo img {
  height: 24px;
}
.h5footerlogo p {
  padding-top: 4px;
  font-size: 10px;
}
.h5footkj {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  flex-direction: column;
  gap: 20px;
}
.h5footerlm {
  width: 100%;
}
.h5footerlm ul li p {
  padding-bottom: 2px;
  font-size: 12px;
}
.h5footerlm ul li a {
  font-size: 10px;
}
.h5footerlm ul li {
  padding-bottom: 2px;
}
.h5footerdb .h5footerdbleft {
  font-size: 10px;

}
.h5footerico {
  margin-left: 24px;
  width: 20px;
  height: 20px;}

  .h5footerdbright {
    gap: 6px;
}





}





