.bodykj {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background: #333333;
    padding: 40px 0px;
    background-image: url('../img/20241113-105750.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.body-2{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    width: 90%;
    margin: 0 auto;
    border-radius: 6px;
    padding: 40px 56px;
}

.body_left {
    background: #ffffff;
    width: 400px;
    margin-right: 40px;
    border-right: 1px solid #E6EDF9;
    padding-right: 20px;
}
.body-about{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #667085;
    gap: 15px;
    border-left: 1px solid #E6EDF9;
    padding-left: 30px;
}

.active-body {
    width: 900px;
    background: #ffffff;
    border-radius: 6px;
}

.active-body h2 {
    color: var(--text1);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
}

.title-tdk {
    display: flex;
    padding: 30px 0px 20px 0px;
}

.title-tdk img {
    margin-right: 20px;
    width: 48px;
}

.title-dk h3 {
    color: #18191c;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;

}

.title-dk span {
    align-items: center;
    color: #9499a0;
    display: flex;
    font-size: 13px;
    padding-top: 4px;
}
.body-3 li{
    list-style: disc;
    margin-left: 20px;
}
.body-3{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #667085;
    gap: 20px;
    line-height: 24px;
}
.body_left h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}
.body-right h3{
    margin-left: 30px;
}
.bodyico{
    margin-left: 30px;
}
.bodyico{
    width: 30px;
    height: 2px;
    background: #379bf4;
    margin-bottom: 50px;
}
a:hover{
    color: #379bf4;
}
.body-about li a p{
    padding-left: 20px;
}

body {
    overflow-y: scroll;
  }
       .bdynr p {
           line-height: inherit;
           margin-top: 22px;
           margin-bottom: 22px;
           font-size: 15px;
           word-spacing: 3px;
           letter-spacing: 1px;
           color: rgb(66, 75, 93);
       }
       .bdynr strong {
           color: rgb(61, 172, 251);
           visibility: visible;
       }

       .codeya {
           color: rgb(166, 226, 46);

       }

       .bdynr h2 {
           line-height: 1.5;
           margin: 4em auto 2em;
           padding-right: 20px;
           padding-left: 20px;
           font-size: 20px;
           font-weight: bold;
           border-bottom: 1px solid rgb(236, 236, 236);
           color: rgb(255, 255, 255);
           text-align: center;
           background: rgb(61, 172, 251);
           border-radius: 1px;
           display: table;
           letter-spacing: 2px;
       }
       .bdynr h3 {
           line-height: 1.5;
           margin-top: 2em;
           margin-right: 8px;
           margin-bottom: 0.75em;
           font-size: 18px;
           padding-left: 8px;
           font-weight: bold;
           display: inline-block;
           border-left: 3px solid rgb(61, 172, 251);
       }

       .bodyimg img {
           width: 700px;
       }

       .bodyimg {
           text-align: center;
       }

       pre {
           display: flex;
           background-color: rgb(38, 50, 56);
           border-radius: 6px;
           border-width: 2px;
           border-style: solid;
           border-color: rgb(61, 172, 251);
           overflow: visible;
           padding: 10px 30px;
           overflow-x: auto;
           /* Ensures horizontal scrollbar */
           white-space: pre-wrap;
       }

       code {
           color: rgb(166, 166, 166);
           font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
       }


       @media screen and (max-width: 1680px) {
           .body_left{
               margin-right: 40px;
       
           }
           .body-3{
               gap: 10px;
               font-size: 13px;
           }
           .bodyico{
               margin-bottom: 20px;
           }
           .body-2{
               padding: 40px 30px;
           }
           .active-body h2{
               font-size: 24px;
           }
           .active-body{
               width:700px;
               padding: 10px 30px;
           }
           .body-about{
               font-size: 12px;
           }
           .body-right h3{
               margin-left: 30px;
           }
           .bodyico{
               margin-left: 30px;
           }
           .bdynr p{
               font-size: 14px;
           }
           .title-tdk img{
               width: 30px;
               margin-right: 10px;
           }
           .title-dk h3{
               font-size: 14px;
           }
           .title-dk span{
               font-size: 12px;
               padding-top:2px;
           }
       }
